{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"> {% endcomment %}
<div class="row justify-content-between my-3">
    <h5 class="col-sm-4 mx-2">Actividades</h5>
    {% if elemento_anadido %}
        <div id="alerta" class="alert alert-success">
            La Actividad se ha añadido correctamente.
        </div>
    {% endif %}
    {% if in_valida %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Se ha invalidado la Actividad: <strong>{{cadena}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <script>
        // JavaScript para hacer desaparecer el alerta después de unos segundos
        document.addEventListener('DOMContentLoaded', function () {
            var alerta = document.getElementById('alerta');
            if (alerta) {
                setTimeout(function () {
                    alerta.style.display = 'none';
                }, 5000);  // 5000 milisegundos (5 segundos)
            }
        });
    </script>
    {% comment %} <button class="col-sm-1 btn btn-secondary mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="mdi mdi-plus"></i></button>  {% endcomment %}
    {% if not request.user.profile.rol_fac %}
        <a href="{% url "add_activities" %}" class="col-sm-1 btn btn-success mx-3"><i class="mdi mdi-plus"></i></a>
    {% endif %}
    
    </div>
        <div class="border p-3 rounded shadow-lg">
        <table id="example" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Aspecto</th>
                    {% comment %} <th>Valida?</th> {% endcomment %}
                    <th>Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                {% for actividad in activities %}
                <tr>
                    <td>{{actividad.name}} {{actividad.id}} </td>
                    <td>{{actividad.aspecto}}</td>
                    
                    <td class="table-action">
                        
                        
                        {% if request.user.profile not in actividad.profiles.all %}
                            <a href="{% url "add_activities_and_student" actividad.pk %}" class="action-icon text-success"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Llenar formulario de Actividad."> <i class="mdi mdi-plus"></i></a>

                        {% else %}
                            {% comment %} <a href="{% url "details_activity" actividad.pk %}" class="action-icon text-success"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Ver detalles."> <i class="mdi mdi-eye"></i></a> {% endcomment %}
                            
                            <a href="{% url "activity_and_student_update" actividad.pk %}" class="action-icon text-primary"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Editar Actividad."> <i class="mdi mdi-pencil"></i></a>
                        {% endif %}
                            {% if request.user.profile.rol_fac != 1 %}
                            <a href="{% url "delete_activity" actividad.pk %}" class="action-icon text-danger"> <i class="mdi mdi-delete"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        new DataTable('#example', {
            paging: false,
            scrollCollapse: true,
            scrollY: '200px'
        });
    </script>
    <script src="{% static 'app/data_table/js/jquery-3.7.0.js' %}"></script>
    <script src="{% static 'app/data_table/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'app/data_table/js/dataTables.bootstrap5.min.js' %}"></script>

{% endblock content %}