{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    {% comment %} <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'tiendas_dash' %}">Tienda</a></li>
                            <li class="breadcrumb-item active">Eliminar Tienda</li>
                        </ol>
                    </div> {% endcomment %}
                    <h4 class="page-title">Eliminar Actividad</h4>
                </div>
            </div>
        </div>    
        <div class="row"> 
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">   
        <!-- end page title --> 
                        {% comment %} action="{% url 'delete_post' post.pk %}" enctype="multipart/form-data" {% endcomment %}
                        <form  method= "POST">
                            {% csrf_token %}
                            <h4>¿Deseas eliminar la Actividad con nombre: "{{activity.description}}"?</h4>
                            {% comment %} <h4>Todos los productos y comentarios asociados a esta se eliminaran tambien</h4> {% endcomment %}
                            
                        
                            <div class="my-3">
                                <a href="{% url 'activities' 0 %}" class="btn btn-success mx-3"> No, Ir atras</a> 
                                <button class="btn btn-danger">Si, eliminar</button>
                            </div>  
                        </form>

                    </div>
                </div>
            </div>
        </div> 
     </div> 
{% endblock %}