{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- contenido -->
    <div class="row justify-content-between my-3">
        <h5 class="col-sm-4 mx-2">Actividades</h5>
        <!-- <button class="col-sm-2 btn btn-success mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Importar Excel</button> -->
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card shadow rounded-4">
                <div class="card-body">

                    <div class="tab-content">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-auto">
                                        Mostar
                                    </div>
                                    <div class="col-auto px-0">
                                        <select class="form-select form-select-sm" aria-label="Small select example">
                                            <option value="1">10</option>
                                            <option value="2">20</option>
                                            <option value="3">50</option>
                                          </select>
                                    </div>
                                    <div class="col-auto">
                                        entradas
                                    </div>
                                  </div>
                            </div>
                            <div class="col-3">
                                <!-- <form class="d-flex" role="search">
                                    <input 
                                    class="form-control form-control-sm me-2" 
                                    type="search" 
                                    placeholder="Buscar..." 
                                    aria-label="Search">
                                </form> -->
                                <form class="d-flex"
                                        role="search"
                                        hx-get="{% url 'home' %}"
                                        hx-trigger="keyup changed delay:500ms"
                                        hx-target="#search-results">
                                    <input 
                                    class="form-control form-control-sm me-2" 
                                    placeholder="Buscar..." 
                                    aria-label="Search"
                                    name="search_query" id="search_query"
                                    type="text"
                                    >
                                </form>
                                <div id="search-results"></div>
                                  
                            </div>
                          </div>
                        
                        <!-- Contenido de la tabla -->
                        <div class="tab-pane show active my-3 " id="basic-datatable-preview">
                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Aspecto</th>
                                        <th>Activa?</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for actividad in actividades %}
                                    <tr>
                                        <td>{{actividad.description}}</td>
                                        <td>{{actividad.aspecto}}</td>
                                        {% if actividad.is_open %}
                                            <td>Si</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td class="table-action">
                                            <a href="javascript: void(0);" class="action-icon text-success"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript: void(0);" class="action-icon text-primary"> <i class="mdi mdi-pencil"></i></a>
                                            <a href="javascript: void(0);" class="action-icon text-danger"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                                           
                        </div> <!-- end preview-->

                        <div class="row justify-content-between my-2">
                            <div class="col-4">
                                Mostrando 1 a 1 de total entradas
                            </div>
                            <div class="col-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-end">
                                      <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a>
                                      </li>
                                    </ul>
                                </nav>
                            </div>
                          </div>
                    
                        <div class="tab-pane" id="basic-datatable-code">
                            <p>Please include following css file at <code>head</code> element</p>

                            <pre>
                                <span class="html escape">
                                    &lt;!-- Datatables css --&gt;
                                    &lt;link href=&quot;{% static 'app/assets_2/css/vendor/dataTables.bootstrap5.css' %}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
                                    &lt;link href=&quot;{% static 'app/assets_2/css/vendor/responsive.bootstrap5.css' %}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
                                </span>
                            </pre> <!-- end highlight-->

                            <p>Make sure to include following js files at end of <code>body</code> element</p>

                            <pre class="mb-0">
                                <span class="html escape">
                                    &lt;!-- Datatables js --&gt;
                                    &lt;script src=&quot;{% static 'app/assets_2/js/vendor/jquery.dataTables.min.js' %}&quot;&gt;&lt;/script&gt;
                                    &lt;script src=&quot;{% static 'app/assets_2/js/vendor/dataTables.bootstrap5.js' %}&quot;&gt;&lt;/script&gt;
                                    &lt;script src=&quot;{% static 'app/assets_2/js/vendor/dataTables.responsive.min.js' %}&quot;&gt;&lt;/script&gt;
                                    &lt;script src=&quot;{% static 'app/assets_2/js/vendor/responsive.bootstrap5.min.js' %}&quot;&gt;&lt;/script&gt;

                                    &lt;!-- Datatable Init js --&gt;
                                    &lt;script src=&quot;{% static 'app/assets_2/js/pages/demo.datatable-init.js' %}&quot;&gt;&lt;/script&gt;
                                </span>
                            </pre> <!-- end highlight-->

                            <pre class="mb-0">
                                <span class="html escape">
                                    &lt;table id=&quot;basic-datatable&quot; class=&quot;table dt-responsive nowrap w-100&quot;&gt;
                                        &lt;thead&gt;
                                            &lt;tr&gt;
                                                &lt;th&gt;Nombre&lt;/th&gt;
                                                &lt;th&gt;Aspecto&lt;/th&gt;
                                                &lt;th&gt;Activa?&lt;/th&gt;
                                                &lt;th&gt;Acciones&lt;/th&gt;
                                            &lt;/tr&gt;
                                        &lt;/thead&gt;
                                    
                                    
                                        &lt;tbody&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Tiger Nixon&lt;/td&gt;
                                                &lt;td&gt;System Architect&lt;/td&gt;
                                                &lt;td&gt;Edinburgh&lt;/td&gt;
                                                &lt;td&gt;61&lt;/td&gt;
                                                &lt;td&gt;2011/04/25&lt;/td&gt;
                                                &lt;td&gt;$320,800&lt;/td&gt;
                                            &lt;/tr&gt;
                                            &lt;tr&gt;
                                                &lt;td&gt;Garrett Winters&lt;/td&gt;
                                                &lt;td&gt;Accountant&lt;/td&gt;
                                                &lt;td&gt;Tokyo&lt;/td&gt;
                                                &lt;td&gt;63&lt;/td&gt;
                                                &lt;td&gt;2011/07/25&lt;/td&gt;
                                                &lt;td&gt;$170,750&lt;/td&gt;
                                            &lt;/tr&gt;
                                        &lt;/tbody&gt;
                                    &lt;/table&gt;
                                </span>
                            </pre> <!-- end highlight-->
                        </div> 
                        <!-- end preview code-->
                    </div> <!-- end tab-content-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <script src="{% static 'app/htmx/htmx.min.js' %}" defer></script>
{% endblock content %}