{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <!-- <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            {% comment %} <li class="breadcrumb-item"><a href="{% url 'tiendas_dash' %}">Mis Tienda</a></li> {% endcomment %}
                            <li class="breadcrumb-item active">Update Tienda</li>
                        </ol>
                    </div> -->
                    <h4 class="page-title">Editar Actividad</h4>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">   
        <!-- end page title --> 
                        <form action="{% url 'edit_activity' activity.pk %}" method= "POST">
                            {% csrf_token %}
                            {{form.as_p}} 
                          
                            <div class="my-3">
                                <a href="{% url "activities" 0 %}" class="btn btn-danger">Cancelar</a>
                                <button class="btn btn-success">Editar</button>
                                
                            </div>  
                             
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}